body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
}

.state-engine-scene {
    position: relative;
    width: 100%;
    height: 100%;
}

.state-engine-node {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}